div{
	border: 1px solid black;
}
.header{
	background-color:teal;
	height: 40px;
}
.aboutLink{
	height:40px;
	width:20%;
}

.skillsLink{
	height:40px;
	width:20%;
	margin: -42px 0px 0px 20%;
}

.resumeLink{
	height:40px;
	width:20%;
	margin: -42px 0px 0px 40%;
}

.projectsLink{
	height:40px;
	width:20%;
	margin: -42px 0px 0px 60%;
}

.contactLink{
	height:40px;
	width:20%;
	margin: -42px 0px 0px 80%;
}

.aboutPar1{
	height:200px;
	width:50%;
}

.aboutPar2{
	height:200px;
	width:50%;
	margin: -202px 0px 0px 50%;
}

.skillsPar1{
	height:100px;
	width:50%;
}

.skillsPar2{
	height:100px;
	width:50%;
	margin: -102px 0px 0px 50%
}
a{
	text-decoration:none;
}
p{ 
	font-family: "", serif;
	color: white;
	font-size:14px;
	text-align:center;
}

.projTitle{
	color:black;
	font-weight:bold;
	text-align:left;
	margin: 5px 0px 0px 5px;
}

.proj{
	color:black;
	text-align:left;
	margin: 0px 0px 5px 5px;
}

.positiontitle{
	color: black;
	font-weight:bold;
	text-align:left;
	margin: 5px 0px 0px 5px;
}
.date{
	font-style:italic;
}

h1{
	font-family: "",serif;
	font-size: px;
	color: black;
	text-align:center;
}

h2{
	font-family: "",serif;
	font-size: px;
	color: black;
	text-align:center;
}

h3{
	font-family: "",serif;
	font-size: px;
	color: black;
	text-align:center;
}

h4{
	font-family: "",serif;
	font-size: px;
	color: black;
	text-align:center;
}

h5{
	font-family: "", serif;
	font-size: px;
	color: black;
	text-align: center;
}

/*following code copied from solution*/
div#contact {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #639ba8;
  background: #a4c5cd;
  padding: 20px 0;
  color: white;
  width: 600px;
  margin: 20px auto;
}
form {
  width: 300px;
  margin: 20px auto 0;
}
form label {
  width: 290px;
  display: block;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
}
form input {
  width: 290px;
  display: block;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 10px;
  border: none;
  font-size: 20px;
  font-family: Georgia, Times, serif;
  font-style: italic;
}
form #message {
  height: 200px;
}
form #submit {
  color: #639ba8;
  background: white;
  width: 300px;
  font-style: normal;
}
form #submit:hover {
  color: white;
  background: #3b616a;
}
footer {
  text-align: center;
  height: 3em;
  color: #639ba8;
  background: white;
  padding: 12px;
  width: 600px;
  border-top: #a4c5cd solid;
  margin: 40px auto 0;
}
footer ul {
  margin: 10px;
}
footer ul li {
  display: inline;
  padding: 12px;
}
footer ul li a {
  text-decoration: none;
  color: #639ba8;
}
footer li:hover {
  background: #3b616a;
}
footer li:hover a {
  color: white;
}

			